extends layout
block content
  .container
    #profile-header
      img.profile-avatar(src="#{user_profile.picture}")

  .container
    #friend-error.alert.alert-danger(style="display: none;") Something went wrong. Try again later
    #input-error.alert.alert-danger(style="display: none;")

  .container
    .jumbotron
      #profileuser-data(style="display: none;", data-id="#{id}", data-name="#{user_profile.name}")
      h1 #{user_profile.name}
      p This dude or dudette is a mean motherfucker
      #profile-buttons
        if id != user.id
          if friends
            button.btn.btn-danger#unfriend(type='button') Unfriend
            button.btn.btn-primary#drop-a-ball(type='button') Drop a Ball
            button.btn.btn-primary#chat(type='button') Chattering
          else
            button.btn.btn-success#befriend(type='button') Befriend
        else
          button.btn.btn-success#edit-profile(type='button') Edit profile
    .container#ball-workshop
     .form-group
        label(for='message-input') Declare war, express your feelings or say what you have to say. No Bieber-talk whatsoever.
        textarea.form-control#message-input(placeholder='Your 140 ball message')
        button.btn.btn-primary#ball-ready(type="button") Ball is ready for takeoff
        button.btn.btn-danger#ball-abort(type="button") Abort mission, this is madness!!
    .container
      if friends
        #balls
          - each ball in balls
            .ball
              .message !{ball.message}


    row
    hr
    footer
      p © Balls to the Wall 2013

  script(src='/javascripts/user.js')

  script(src='/bootstrap/js/bootstrap.min.js')


